
@import '_variables.scss';
@import '_reset.scss';

body{
    font-family: 'Roboto', 'Helvitica Neue', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';

}


body#menu {


    header{

        
        display: flex;
        justify-content: space-between;
        align-content: center;
        background: $color-green-light;
        padding: 15px 80px;;
        
        img {

            height: 25px;

        }

        section {
            
            justify-content: space-around;
            align-content: center;
            display: flex;
            
            img{
                padding-right:  20px;
            }
            div {
                padding: 0 20px;
                padding-top: 5px;
            }

        }

    }

    nav {

        display: flex;
        justify-content: space-between;
        padding: 25px 80px;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;

            li {
                padding: 0 15px;
            }
        }


    }

}

