
footer{
    width: 100%;
    display: block;
    color: #000;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;

    transform: skewy(-5deg); 
    -ms-transform: skewy(-5deg); /* IE 9 */
    -webkit-transform: skewy(-5deg);

    *{
        
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    img{ width: 80px; height: 80px; }

    h2{
        margin-bottom: 0;
        padding-bottom: 0;
        
    }

    img{
        margin-top: 100px;
        margin-top: 50px;
    }
    a{
        padding-top: 10px;
    }
    .phone{

        display: flex;
        padding: 2em;

        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

    }

}

footer > *{
    content: "";
    transform: skewy(5deg); 
    -ms-transform: skewy(5deg); /* IE 9 */
    -webkit-transform: skewy(5deg);
    
}
footer::after{
    content: "";
    display: block;
    height: 100%;
    position: relative;
}

footer.light{
    background: #F6F7F1;
}
footer.dark{
    background: #E9EECD;
}