body {
  background: #eee;
  font-family: 'Roboto', 'Helvitica Neue', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif'; }

header .top {
  width: 100%;
  height: 45px;
  background-color: rgba(122, 143, 29, 0.15);
  border-bottom: 2px solid #5f7309;
  display: flex;
  justify-content: space-between div; }
